name: CI
on: [push, pull_request]
env:
  POSTGRES_HOST: localhost
  POSTGRES_DB: github_actions
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: github_actions
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python {{ cookiecutter._python_version_specs[cookiecutter.python_version]['versions'][0] }}
        uses: actions/setup-python@v1
        with:
          python-version: "{{ cookiecutter._python_version_specs[cookiecutter.python_version]['versions'][0] }}"
      - name: psycopg2 prerequisites
        run: sudo apt-get install libpq-dev
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv sync
      - name: Run tests
        run: uv run pytest -n 2
  quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        hook: [ruff-format, ruff, mypy-check]
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python {{ cookiecutter._python_version_specs[cookiecutter.python_version]['versions'][0] }}
        uses: actions/setup-python@v2
        with:
          python-version: "{{ cookiecutter._python_version_specs[cookiecutter.python_version]['versions'][0] }}"
{%- raw %}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv sync
      - name: Run pre-commit hook
        run: uv run pre-commit run --all-files ${{ matrix.hook }}
{%- endraw %}
